p , h2, a{
    font-family: 'Noto Serif', serif;
}

h3{
    font-family: 'Noto Serif', serif;
    color: rgba(88, 23, 88, 0.527);
    text-shadow: 2px 2px 5px;
}

body.cbody{
    background-color: rgb(187, 158, 214);
}

#profilepp{
    border-radius: 50%;
    margin: auto;
    display: block;
}

#tr-content{
    border: solid rgb(150, 45, 45);
    padding-left: 10px;
    width: 550px;
    margin-left: 100px;
}

#en-content{
    border: solid rgb(68, 140, 223);
    padding-left: 10px;
    width: 600px;
    margin-top: 10px;
    margin-left: 200px;
}

#de-content{
    border: solid rgb(201, 184, 32);
    padding-left: 10px;
    width: 750px;
    margin-top: 10px;
    margin-left: 400px;
}

#fr-content{
    border: solid white;
    padding-left: 10px;
    width: 750px;
    margin-top: 10px;
    margin-left: 600px;
}

h2.trH{
    color: rgb(236, 81, 81);
}

h2.enH{
    color: rgb(101, 101, 224);
}

h2.deH{
    color: rgba(255, 255, 0, 0.76);
}

h2.frH{
    color: rgba(245, 245, 245, 0.685);
}

.links{
    position: sticky;
    bottom: 0px;
    margin-left: 1600px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
}